domain fidonet tmp/out 2
domain fidonet.org alias-for fidonet
address 2:467/10.999@fidonet
sysname "Sly's Station"
location "Ukraine, Odessa"
sysop "Vladimir Kravets"
nodeinfo 115200,TCP,BINKP
call-delay 20
rescan-delay 5
try 1
hold 1
send-if-pwd
log tmp/binkd.log
loglevel 4
conlog 6
percents
printq
inbound tmp/in.sec
inbound-nonsecure tmp/in
temp-inbound tmp/in.tmp
minfree 2048
minfree-nonsecure 2048
kill-dup-partial-files
kill-old-partial-files 86400
kill-old-bsy 43200
prescan
node 2:467/10.0 -md localhost client_password999
